<!DOCTYPE html>
<html>
<head>
    <title>Kaptcha test</title>
    <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" rel='stylesheet'>
    <style>

    </style>
</head>
<body>
<div class='container'>
    <form accept-chartset='utf-8' method="POST" action="/" class='form-horizontal' id="form">
        <legend><h1>Kaptcha</h1></legend>
        {% if success %}
        <div class='alert-succes alert'>
            Успех!
        </div>
        {% endif %}
        {% csrf_token %}
        {{ form }}
    </form>
</div>
<div class="form-actions">
    <div class="container">
        <button type="submit" class="btn btn-primary" form="form">
            <i class="icon-ok icon-white"></i> Сохранить
        </button>
    </div>
</div>
</body>
</html>